@import "../../../screen.scss";
@import "../../../components/styles/gradient-text.mixin.scss";


.solutionContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -2.5%;
        left: -2.5%;
        height: calc(105%);
        width: calc(105%);
        background: var(--color-accent-background-gradient);
        border-radius: calc(2 * var(--border-radius-400));
        z-index: -1;
        animation: animatedgradient 30s ease alternate infinite;
        background-size: 300% 300%;
        filter: blur(40px);
    }
}

@media (prefers-reduced-motion) {
    .solutionContainer::before {
        animation: none;
    }
}

.solution {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: var(--padding-700);
    border-radius: var(--border-radius-450);
    background: var(--color-background-highlight);

}


.bigNumber {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: var(--width-150);

    @include gradient-text(var(--title-gradient));

    span {
        font-size: var(--font-size-1130);
        line-height: var(--line-height-1130);
        font-weight: var(--font-bold);
        color: var(--color-text-300);
    }
}

.content {
    max-width: var(--width-600);
    

    p {
        color: var(--color-text-400);
        font-size: var(--font-size-600);
        line-height: var(--line-height-600);
        margin-bottom: var(--margin-200);

        a {
            text-decoration: underline;

            &:hover {
                color: var(--color-text-300);
            }
        }
    }
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        max-width: var(--width-500);
        margin-top: auto;
        margin-bottom: auto;
    }
}

.blockEnd {

    // Align big number to the end, in case if it written at the end of line
    .bigNumber {
        align-items: flex-end;
    }

    // also reverse items on small screen sizes
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@media (max-width: $screen-tablet) {

    .solutionContainer, .solution {
        width: 100%;
    }

    .solution {
        padding: var(--padding-700) calc(var(--width-gap) * 0.5);
        
    }

    .pageContainer {
        padding: calc(var(--width-gap) * 0.5);
    }

}


@media (max-width: $screen-mobile) {
    .pageContainer {
        padding: calc(var(--width-gap) * 0.2);
    }
    
    .solution {
        padding: var(--padding-700) calc(var(--width-gap) * 0.8);
    }

    .content {
        p {
            font-size: var(--font-size-500);
            line-height: var(--line-height-500);
        }
    }

    .bigNumber {
        span {
            font-size: var(--font-size-1000);
            line-height: var(--line-height-1000);
        }
    }

    .block {
        flex-direction: column;
        align-items: flex-start;

        margin-bottom: var(--margin-300);

        p {
            max-width: none;
        }
    }

    .bigNumber {
        align-items: flex-start;
        width: 100%;
    }

    .blockEnd {
        // reverse items
        flex-direction: column-reverse;

        .bigNumber {
            align-items: flex-start;
        }

    }
}