@import "../../../screen.scss";

.container {
  padding: 0 var(--padding-400);
  flex-shrink: 0;
  position: relative;

  counter-increment: count;

  user-select: none;
  &Active {
    user-select: auto;

    .gradient {
      opacity: 1;
    }
  }

  @media (max-width: $screen-mobile) {
    font-size: var(--font-size-300);
  }
}

.gradient {
  opacity: 0;

  will-change: opacity;
  transition: opacity 200ms ease-out;

  &::before {
    content: "";
    position: absolute;
    opacity: 0.85;
    background-color: var(--color-background-end);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    border-radius: var(--border-radius-400);
  }

  &::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 15%;
    height: 60%;
    width: 75%;
    background: var(--color-primary-gradient);
    border-radius: 30%;
    z-index: -1;
    animation: animatedGradient 15s ease infinite alternate;
    background-size: 300% 300%;
    filter: blur(40px);
  }
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.content {
  position: relative;
  z-index: 1;

  padding: var(--padding-300);

  h3 {
    display: flex;
    align-items: center;

    font-size: var(--font-size-600);
    color: var(--color-text-300);
    margin-bottom: var(--margin-100);

    &::before {
      $size: 30px;

      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-300);

      content: counter(count, decimal);
      width: $size;
      height: $size;

      border-radius: 50%;
      background-color: var(--color-background-start);

      margin-right: var(--margin-100);

      border: 2px solid var(--card-number-color);
    }
  }

  p {
    line-height: var(--font-size-750);
  }
}

.wrapper {
  --card-number-color: var(--color-text-400);

  cursor: pointer;
  border-radius: var(--border-radius-400);
  background-color: var(--color-background-end);
  color: var(--color-text-400);

  position: relative;

  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

  transition: transform 150ms ease-out, opacity 150ms ease-out;
  will-change: transform, opacity;
}
