@import "../../../screen.scss";

.container {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  
  opacity: 0;

  margin-top: var(--margin-900);

  @media (max-width: $screen-mobile) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $screen-laptop) and (min-width: $screen-mobile) {
    margin-top: var(--margin-900);
  }

  @media (max-width: $screen-mobile) {
    margin-bottom: var(--margin-300);
  }
}

.visible {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(3%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}