@import "../styles/appear.animation.scss";


.canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;

    animation: appearOnlyOpacity 0.5s ease-out forwards;
}