.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  height: 100%;

  max-width: var(--max-width);
  margin: 0 var(--width-gap);
  padding-top: var(--navigation-height);

  h1 {
    width: 100%;
    margin-bottom: var(--margin-500);
    max-width: var(--width-500);
  }

  p {
    margin-bottom: var(--margin-300);
    max-width: var(--width-500);
  }

}
