.content {
  width: 100%;
  position: relative;
  z-index: 2;
  box-shadow: #000 0 7px 35px 0;
  background-color: var(--color-background-end);
}

.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
}
