@import "../../../screen.scss";
@import "../../../components/styles/gradient-text.mixin.scss";
@import "../../../components/styles/appear.animation.scss";

.approach {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.robotImage {
    box-shadow: 0 16px 31px -10px rgb(5, 6, 17);
}

.painting {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 5%;
        left: 15%;
        height: calc(50%);
        width: calc(70%);
        background: var(--color-accent-background-gradient);
        border-radius: 30%;
        z-index: -1;
        animation: animatedgradient 30s ease alternate infinite;
        background-size: 300% 300%;
        filter: blur(40px);
    }
}

@media (max-width: $screen-mobile) {
    .approach {
        align-items: flex-start;

        &:first-child {
            justify-content: flex-end;
            grid-column: 1;
        }
    }
}
