.form {
    position: relative;

    width: 100%;

    border-radius: var(--border-radius-550);
    max-width: var(--width-500);

    min-height: var (--font-size-850);
    padding: var(--padding-10);

    transition: all 1s;

    label {
        position: absolute;
        top: var(--padding-100);
        left: var(--padding-500);
        transition: 0.3s;
        padding: 0 var(--padding-50);
        border-radius: var(--border-radius-600);
        background: var(--color-background-start);
        box-shadow: 10px 0px 8px 1px var(--color-background-start), -5px 0px 5px 1px var(--color-background-start);
    }

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
        label {
            font-size: var(--font-size-100);
            top: calc(var(--padding-100) * -1);
            left: var(--padding-200);
            
        }
    }

    background: linear-gradient(to right bottom,
        hsla(0, 0%, 100%, 0.502),
        hsla(0, 0%, 100%, 0.251),
        hsla(0, 0%, 100%, 0.527),
        hsla(0, 0%, 100%, 0.541),
        hsla(0, 0%, 100%, 0.205),
        hsla(0, 0%, 100%, 0.301),
        hsla(0, 0%, 100%, 0.502));

    &:before {
        content: "";
        z-index: 1;
        position: absolute;
        top: 0;
        right: 1rem;
        bottom: 0;
        left: 1rem;
        background: linear-gradient(
            to right, 
            rgba(112, 39, 175, 0.829) 0%, 
            rgba(102, 32, 194, 0.726) 45%, 
            rgba(57, 61, 172, 0.788) 75%,
            rgba(62, 74, 163, 0.733) 100%);     
        transform: scale(0.5);
        filter: blur(10px);
        opacity: 0;
        transition: all 0.3s;
        border-radius: inherit;
    }

    /* 
    * Prevents issues when the parent creates a 
    * stacking context. (For example, using the transform
    * property )
    */
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        border-radius: inherit;
    }

    &:hover {
        background: linear-gradient(
            to right, 
            rgba(112, 39, 175, 0.829) 0%, 
            rgba(102, 32, 194, 0.726) 45%, 
            rgba(57, 61, 172, 0.788) 75%,
            rgba(62, 74, 163, 0.733) 100%);     

        &::before {
            opacity: 0.9;
            transform: scale(1);
        }
    }

    &:active, &:focus, &:focus-within {
        background: linear-gradient(
            to right, 
            rgba(129, 47, 201, 0.918) 0%, 
            rgba(114, 39, 212, 0.815) 45%, 
            rgba(68, 73, 206, 0.856) 75%,
            rgba(78, 92, 201, 0.842) 100%);     

        &::before {
            opacity: 0.9;
            transform: scale(1.1);
        }
    }

        
}



.container {
    background: var(--color-background-start);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 2;

    border-radius: var(--border-radius-550);
}

