
.form {
    position: relative;
    
    width: 100%;

    border-radius: var(--border-radius-550);
    max-width: var(--width-500);

    min-height: var (--font-size-850);
    padding: var(--padding-10);

    label {
        position: absolute;
        top: var(--padding-100);
        left: var(--padding-500);
        transition: 0.3s;
        padding: 0 var(--padding-50);
    }

    &:hover, &:focus, &:active {
        label {
            font-size: var(--font-size-100);
            top: calc(var(--padding-100) * -1);
            left: var(--padding-200);
            background: var(--color-background-start);
        }
    }

    background: linear-gradient(21deg, #10abff, #1beabd);
}

.container {
    background: var(--color-background-start);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100%;

    border-radius: var(--border-radius-550);
}