@import "../../../screen.scss";

.image {
  position: relative;

  &:before {
    --blur-size: 1rem;

    content: "";
    position: absolute;
    top: var(--blur-size);
    left: var(--blur-size);
    height: calc(100% - 2 * var(--blur-size));
    width: calc(100% - 2 * var(--blur-size));

    background: linear-gradient(to bottom,
      #030416,
      #169AC4,
      #26BBD4,
      #5DE5CB,
      #F69FBF,
      #C77FB3,
      #644C86,
      #022048,
      #01234F,
      #A850E4);
    border-radius: calc(2 * var(--border-radius-400));
    z-index: -1;
    mix-blend-mode: screen;
    filter: blur(3rem);
  }
}

.safeInvestments {
  margin-top: var(--margin-1000);
}

@media (max-width: $screen-mobile) {
  .safeInvestments {
    margin-top: var(--margin-700);
  }
}