.image {
  position: relative;

  &:before {
    --blur-size: 1rem;

    content: "";
    position: absolute;
    top: var(--blur-size);
    left: var(--blur-size);
    height: calc(100% - 2 * var(--blur-size));
    width: calc(100% - 2 * var(--blur-size));

    background: linear-gradient(to bottom,
        #190491,
        #024e7a,
        #0616a7,
        #020e7a,
        #880C86,
        #e20494,
        #13DDD4,
        #FE7B3A,
        #310aa8,
        #21017a);
    border-radius: calc(2 * var(--border-radius-400));
    z-index: -1;
    mix-blend-mode: screen;
    filter: blur(3rem);
  }
}