.container {
  margin: var(--margin-300);
  max-width: var(--width-800);
  width: 100%;
  

  h3 {
    color: var(--color-text-400);
    cursor: pointer;
  }

  p {
    color: var(--color-text-300);
  }
}
