.container {
  color: var(--color-text-300);

  & + & {
    margin-top: var(--margin-400);
  }

  p, ul {
    padding: var(--padding-300);
  }

  ul {
    padding-top: 0;
    padding-left: var(--padding-600);
  }

  li {
    list-style-type: circle;
  }

  h4 {
    font-weight: var(--font-bold);
    padding: var(--padding-300) var(--padding-300) var(--padding-100);
  }
}
