.container {
  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: var(--margin-300);
  }
}

.button {
  flex: 1 1 0px;

  border-style: solid !important;
  border-color: var(--nextui-colors-primary) !important;

  &:not(:last-child) {
    margin-right: var(--margin-200);
  }
}
