.apyInfo {
  margin-bottom: var(--margin-100);
  text-align: center;

  b {
    color: var(--color-primary-300);
  }
}

.info {
  ul {
    color: var(--color-text-300);
    display: flex;
    justify-content: space-around;
  }

  li {
    text-align: center;

    h5 {
      font-weight: normal;
      margin-bottom: var(--margin-100);
    }
  }
}

.infoNumberWrapper {
  display: flex;
  justify-content: center;
}

.infoNumber {
  font-weight: var(--font-bold);
}

.asset {
  margin: 0 var(--margin-50);
}

.positiveChange {
  color: var(--color-success-500);
}

.negativeChange {
  color: var(--color-error-500);
}
