.container {
  display: flex;
  align-items: center;
  gap: var(--margin-200);
  color: var(--color-text-300);
  min-height: 42px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--margin-50);
}

.description {
  color: var(--color-text-500);
}

