.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: var(--margin-600);

  /* Header */
  div:first-child {
    $row: 1;
    grid-area: #{$row} / 1 / #{$row} / 3;

    h2 {
      margin: 0;
    }
  }

  /* Description */
  div:nth-child(2) {
    $row: 2;
    grid-area: #{$row} / 1 / #{$row} / 3;
  }
}
