@import "../screen.scss";

.main {
  height: 100vh;
  width: 100%;

  max-width: var(--max-width);
  padding: var(--navigation-height) var(--width-gap);

  @media (max-width: $screen-mobile) {
    padding: 0;
  }
}

.loading, .error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.errorMessage {
  margin-top: var(--margin-200);
}
