@import "../screen.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  width: 100%;
  height: 100%;

  max-width: var(--max-width);
  padding: var(--navigation-height) var(--width-gap);

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    width: 200vw;
    height: 200vh;
    transform: translate(-50vw, -100vh);
    background: linear-gradient(var(--color-primary-1000) 0%, var(--color-dark-800) 100%);
  }

  @media (max-width: $screen-mobile) {
    padding: 0;
  }
}

.error {
  margin-top: var(--margin-200);
}
