@import "../../../screen.scss";
@import "../../../components/styles/gradient-text.mixin.scss";
@import "../../../components/styles/appear.animation.scss";

.deepSecurity {
    width: 100%;
    height: 100%;
    margin-top: var(--margin-1200);
    margin-bottom: var(--margin-1200);
    position: relative;

    display: grid;
    grid-template-columns: var(--width-600) var(--width-500);
    grid-gap: var(--width-gap);
    justify-content: center;
    align-items: flex-start;

    grid-row-gap: var(--padding-500);

    h1 {
        font-size: var(--font-size-1000);
        line-height: var(--line-height-1120);
        letter-spacing: var(--letter-black-500);
    }

    p {
        max-width: var(--width-1200);
        color: var(--color-text-200)
    }
}

.deepSecurityDescription {
    align-items: center;
    justify-content: flex-end;

    p {
        max-width: var(--width-1100);
    }
}

.imageContainer {
    position: absolute;
    right: calc((100% - var(--width-400) - var(--width-700) - var(--width-gap)) / 2 );
    z-index: -1;

    &:before {
        --blur-size: 1rem;

        content: "";
        position: absolute;
        top: var(--blur-size);
        left: var(--blur-size);
        height: calc(100% - 2 * var(--blur-size));
        width: calc(100% - 2 * var(--blur-size));

        background: linear-gradient(to bottom,
                #024e7a,
                #880C86,
                #C60782,
                #FC4B53,
                #FC7341,
                #FE7B3A,
                #922971,
                #7F1373,
                #13DDD4,
                #090de7);
        border-radius: calc(2 * var(--border-radius-400));
        z-index: -1;
        mix-blend-mode: screen;
        filter: blur(3rem);
    }

    img {
        height: auto;
        width: 50vw;

        max-width: var(--width-600);
        box-shadow: 0 16px 31px -10px rgb(5, 6, 17);

        transform: rotate3d(0, 1, 0, -3deg);

    }
}



@media (max-width: $screen-desktop) {
    .deepSecurity {
        grid-template-columns: var(--width-500) var(--width-200);
        grid-row-gap: var(--padding-300);
        margin-bottom: var(--margin-1000);
    }

    .imageContainer {
        right: 0;

        img {
            height: auto;
            width: 40vw;

            max-width: var(--width-800);
        }
    }
}

@media (max-width: $screen-tablet) {
    .deepSecurity {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    .imageContainer {
        position: inherit;
        right: 0;
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: $screen-mobile) {
    .deepSecurity {
        margin-bottom: var(--margin-800);

        &:first-child {
            justify-content: flex-end;
            grid-column: 1;
        }
    }
}
