@keyframes appearWithDelay {
    0% {
        opacity: 0;
        transform: translateY(0.5rem);
    }

    50% {
        opacity: 0;
        transform: translateY(0.5rem);
    }

    70% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navigation {
    height: var(--navigation-height);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.content {
    height: 100%;
    width: 100%;
    max-width: var(--max-width);

    animation: appearWithDelay 1s ease-in;

    display: grid;
    grid-template-columns: var(--width-300) 1fr var(--width-300);

    max-width: var(--max-width);
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--margin-400);
}


.logo {
    height: 100%;
    max-width: var(--width-300);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: auto;


}

