@import "../../../screen.scss";

.roadmapContainer {
    padding-top: var(--margin-800);
    padding-bottom: var(--margin-1100);
    display: flex;
    min-height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    max-width: $screen-ultra-wide;

    @media (max-width: $screen-tablet) {
        padding-top: var(--margin-1100);
        padding-bottom: var(--margin-1100);
    }

    @media (max-width: $screen-mobile) {
        padding-top: var(--margin-800);
        padding-bottom: var(--margin-1000);

        &>h2,
        &>span {
            padding-left: var(--width-gap);
            padding-right: var(--width-gap);
        }

    }

    @media (min-width: $screen-mobile) {
        align-items: center;
    }
}