.overlay {
  position: relative;
  height: var(--header-800);
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    background: linear-gradient(
      90deg,
      var(--color-background-start) 0%,
      transparent 10%,
      transparent 90%,
      var(--color-background-start) 100%
    );
  }
}
