@tailwind base;
@tailwind components;
@tailwind utilities;

/**
* This is default theme values for whole application.
* It includes, at least:
* - font sizes
* - font families
* - font weight
* - line height
* - colors
* - margin
* - padding
* - width
* - height
* - box shadows
* - border radius
* - border width
* - opacity
*/
:root {
  /* Font sizes */
  --font-size-100: theme(fontSize.xs);
  --font-size-300: theme(fontSize.sm);
  --font-size-500: theme(fontSize.base);
  --font-size-600: theme(fontSize.xl);
  --font-size-700: theme(fontSize.2xl);
  --font-size-800: theme(fontSize.3xl);
  --font-size-900: theme(fontSize.4xl);
  --font-size-1000: theme(fontSize.5xl);
  --font-size-1100: theme(fontSize.6xl);
  --font-size-1200: theme(fontSize.7xl);
  --font-size-1300: theme(fontSize.8xl);
  --font-size-1400: theme(fontSize.9xl);

  /* Font families */
  --font-mono: theme(fontFamily.mono);

  /* Font weights */
  --font-thin: theme(fontWeight.thin);
  --font-extralight: theme(fontWeight.extralight);
  --font-light: theme(fontWeight.light);
  --font-normal: theme(fontWeight.normal);
  --font-medium: theme(fontWeight.medium);
  --font-semibold: theme(fontWeight.semibold);
  --font-bold: theme(fontWeight.bold);
  --font-extrabold: theme(fontWeight.extrabold);
  --font-black: theme(fontWeight.black);

  /* Line heights */
  --line-height-100: theme(lineHeight.3);
  --line-height-300: theme(lineHeight.4);
  --line-height-500: theme(lineHeight.5);
  --line-height-600: theme(lineHeight.6);
  --line-height-700: theme(lineHeight.7);
  --line-height-800: theme(lineHeight.8);
  --line-height-900: theme(lineHeight.9);
  --line-height-1000: theme(lineHeight.10);
  --line-height-1100: theme(lineHeight.11);
  --line-height-1200: theme(lineHeight.12);

  /* Colors */
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  --tile-start-color: rgba(2, 13, 46, 1);
  --tile-end-color: rgba(2, 5, 19, 1);
  --tile-border-color: conic-gradient(
    hsla(0, 0%, 100%, 0.502),
    hsla(0, 0%, 100%, 0.251),
    hsla(0, 0%, 100%, 0.188),
    hsla(0, 0%, 100%, 0.125),
    hsla(0, 0%, 100%, 0.063),
    hsla(0, 0%, 100%, 0.063),
    hsla(0, 0%, 100%, 0.502)
  );

  /* Text */
  --color-text-50: theme(colors.text.50);
  --color-text-100: theme(colors.text.100);
  --color-text-200: theme(colors.text.200);
  --color-text-300: theme(colors.text.300);
  --color-text-400: theme(colors.text.400);
  --color-text-500: theme(colors.text.DEFAULT);
  --color-text-600: theme(colors.text.600);
  --color-text-700: theme(colors.text.700);
  --color-text-800: theme(colors.text.800);
  --color-text-900: theme(colors.text.900);

  --title-gradient: linear-gradient(
    to bottom right,
    var(--color-text-300) 35%,
    var(--color-text-400) 50%,
    var(--color-text-200) 55%
  );

  /* Background */
  --color-background-start: hsl(200, 4%, 14%);
  --color-background-end: hsl(210, 3%, 26%);
  --color-background-gradient: linear-gradient(
      to bottom,
      transparent,
      var(--color-background-end)
    )
    var(--color-background-start);

  /* Primary */
  --color-primary-100: theme(colors.blue.100);
  --color-primary-200: theme(colors.blue.200);
  --color-primary-300: theme(colors.blue.300);
  --color-primary-400: theme(colors.blue.400);
  --color-primary-500: theme(colors.blue.DEFAULT);
  --color-primary-600: theme(colors.blue.600);
  --color-primary-700: theme(colors.blue.700);
  --color-primary-800: theme(colors.blue.800);
  --color-primary-900: theme(colors.blue.900);

  --primary-glow: linear-gradient(
    to bottom right,
    rgba(142, 81, 195, 0.048) 0%,
    rgba(153, 47, 202, 0.089) 29%,
    rgba(195, 55, 99, 0.096) 48%,
    rgba(36, 38, 112, 0.075) 74%,
    rgba(39, 45, 93, 0.034) 100%
  );

  /* Secondary */

  /* Neutral */
  --color-neutral-50: theme(colors.gray.50);
  --color-neutral-100: theme(colors.gray.100);
  --color-neutral-200: theme(colors.gray.200);
  --color-neutral-300: theme(colors.gray.300);
  --color-neutral-400: theme(colors.gray.400);
  --color-neutral-500: theme(colors.gray.DEFAULT);
  --color-neutral-600: theme(colors.gray.600);
  --color-neutral-700: theme(colors.gray.700);
  --color-neutral-800: theme(colors.gray.800);
  --color-neutral-900: theme(colors.gray.900);

  /* Accent */
  --accent-glow: linear-gradient(
    to right,
    rgba(251, 245, 183, 0.212),
    rgba(191, 148, 63, 0.4),
    rgba(252, 246, 186, 0.8),
    rgba(233, 191, 118, 0.5),
    rgba(179, 135, 40, 0.308)
  );

  /* Highlight */
  --color-highlight-100: theme(colors.lightBlue.100);
  --color-highlight-200: theme(colors.lightBlue.200);
  --color-highlight-300: theme(colors.lightBlue.300);
  --color-highlight-400: theme(colors.lightBlue.400);
  --color-highlight-500: theme(colors.lightBlue.DEFAULT);
  --color-highlight-600: theme(colors.lightBlue.600);
  --color-highlight-700: theme(colors.lightBlue.700);
  --color-highlight-800: theme(colors.lightBlue.800);
  --color-highlight-900: theme(colors.lightBlue.900);

  /* Warning */
  --color-warning-100: theme(colors.yellowWarning.100);
  --color-warning-200: theme(colors.yellowWarning.200);
  --color-warning-300: theme(colors.yellowWarning.300);
  --color-warning-400: theme(colors.yellowWarning.400);
  --color-warning-500: theme(colors.yellowWarning.DEFAULT);
  --color-warning-600: theme(colors.yellowWarning.600);
  --color-warning-700: theme(colors.yellowWarning.700);
  --color-warning-800: theme(colors.yellowWarning.800);
  --color-warning-900: theme(colors.yellowWarning.900);

  /* Error */
  --color-error-100: theme(colors.amberRed.100);
  --color-error-200: theme(colors.amberRed.200);
  --color-error-300: theme(colors.amberRed.300);
  --color-error-400: theme(colors.amberRed.400);
  --color-error-500: theme(colors.amberRed.DEFAULT);
  --color-error-600: theme(colors.amberRed.600);
  --color-error-700: theme(colors.amberRed.700);
  --color-error-800: theme(colors.amberRed.800);
  --color-error-900: theme(colors.amberRed.900);

  /* Success */
  --color-success-100: theme(colors.lightGreen.100);
  --color-success-200: theme(colors.lightGreen.200);
  --color-success-300: theme(colors.lightGreen.300);
  --color-success-400: theme(colors.lightGreen.400);
  --color-success-500: theme(colors.lightGreen.DEFAULT);
  --color-success-600: theme(colors.lightGreen.600);
  --color-success-700: theme(colors.lightGreen.700);
  --color-success-800: theme(colors.lightGreen.800);
  --color-success-900: theme(colors.lightGreen.900);

  /* Margin */
  --margin-400: theme(margin.5);
  --margin-500: theme(margin.7);
  --margin-600: theme(margin.10);
  --margin-700: theme(margin.16);
  --margin-800: theme(margin.24);

  /* Padding */
  --padding-400: theme(padding.5);
  --padding-500: theme(padding.7);
  --padding-600: theme(padding.10);

  /* Width */
  --max-width: theme(maxWidth.6xl);

  /* Border radius */
  --border-radius-400: theme(borderRadius.DEFAULT);
  --border-radius-500: theme(borderRadius.md);
  --border-radius-600: theme(borderRadius.xl);

  /* Media */
  --media-mobile: theme(screens.md);
  --media-tablet: theme(screens.lg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: dark;
}
