@import './screen.scss';

/**
* This is default theme values for whole application.
* It includes, at least:
* - font sizes
* - font families
* - font weight
* - line height
* - colors
* - margin
* - padding
* - width
* - height
* - box shadows
* - border radius
* - border width
* - opacity
*/
:root,
::after,
::before {

  // font sizes
    --font-size-100: 0.75rem;
    --font-size-200: 0.825rem;
    --font-size-300: 0.875rem;
    --font-size-400: 0.9rem;
    --font-size-500: 1rem; // Default size, by default equal 16px 
    --font-size-600: 1.125rem;
    --font-size-700: 1.25rem;
    --font-size-750: 1.5rem;
    --font-size-800: 1.875rem;
    --font-size-850: 2rem;
    --font-size-900: 2.25rem;
    --font-size-950: 2.8rem;
    --font-size-1000: 3rem;
    --font-size-1100: 3.75rem;
    --font-size-1120: 4rem;
    --font-size-1125: 4.5rem;
    --font-size-1130: 5rem;
    --font-size-1150: 6rem;
    --font-size-1180: 8rem;
    --font-size-1200: 10.5rem;
    --font-size-1230: 13rem;
    --font-size-1240: 16rem;
    --font-size-1250: 20rem;
    --font-size-1300: 25rem;

  // font families
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;


  // font weight
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

  // letter spacing
    --letter-spacing-normal-500: 0em;
    --letter-spacing-bold-500: 0em;
    --letter-spacing-black-300: -1px;
    --letter-spacing-black-400: -1.5px;
    --letter-spacing-black-500: -2px;
    --letter-spacing-black-800: -1rem;
  
  // line height
    --line-height-100: 1.25rem;
    --line-height-300: 1.5rem;
    --line-height-400: 1.625rem;
    --line-height-500: 1.75rem; // Default size, by default equal 16px 
    --line-height-600: 2rem;
    --line-height-700: 2.25rem;
    --line-height-800: 2.875rem;
    --line-height-900: 3.25rem;
    --line-height-1000: 4rem;
    --line-height-1100: 4.25rem;
    --line-height-1120: 4.5rem;
    --line-height-1150: 7rem;
    --line-height-1165: 8rem;
    --line-height-1180: 9rem;
    --line-height-1200: 11.5rem;
  


  // Colors

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;

    --tile-start-color:  rgba(2, 13, 46, 1);
    --tile-end-color: rgba(2, 5, 19, 1);
    --tile-border-color: conic-gradient(
      hsla(0, 0%, 100%, 0.502),
      hsla(0, 0%, 100%, 0.251),
      hsla(0, 0%, 100%, 0.188),
      hsla(0, 0%, 100%, 0.125),
      hsla(0, 0%, 100%, 0.063),
      hsla(0, 0%, 100%, 0.063),
      hsla(0, 0%, 100%, 0.502)
    );

    // Text
      --color-text-50: hsl(0, 0%, 98%);
      --color-text-100: hsl(240, 5%, 96%);
      --color-text-200: hsl(240, 6%, 90%);
      --color-text-300: hsl(240, 5%, 84%);
      --color-text-350: hsl(240, 5%, 75%);
      --color-text-400: hsl(240, 5%, 65%);
      --color-text-450: hsl(240, 4%, 55%);
      --color-text-500: hsl(240, 4%, 46%); // Default color
      --color-text-600: hsl(240, 5%, 34%);
      --color-text-700: hsl(240, 5%, 26%);
      --color-text-800: hsl(240, 4%, 16%);
      --color-text-900: hsl(240, 6%, 10%);
      --color-text-background-500: hsla(240, 4%, 5%, 0.3);

      --title-gradient: linear-gradient(
        to bottom right, var(--color-text-300) 35%, var(--color-text-400) 50%, var(--color-text-200) 55%);

    // Dark
      --color-dark-100: hsl(210, 2%, 58%);
      --color-dark-200: hsl(200, 1%, 42%);
      --color-dark-300: hsl(195, 2%, 35%);
      --color-dark-400: hsl(200, 3%, 23%);
      --color-dark-450: hsl(200, 3%, 13%);;
      --color-dark-500: hsl(200, 6%, 10%);
      --color-dark-600: hsl(210, 5%, 9%);
      --color-dark-700: hsl(210, 6%, 7%);
      --color-dark-800: hsl(210, 8%, 5%);
      --color-dark-900: hsl(180, 8%, 3%);

    // Primary
      --color-primary-50: hsl(226, 100%, 97%);
      --color-primary-100: hsl(226, 100%, 94%);
      --color-primary-200: hsl(228, 96%, 89%);
      --color-primary-300: hsl(230, 94%, 82%);
      --color-primary-400: hsl(234, 89%, 74%);
      --color-primary-500: hsl(239, 84%, 67%); // Default color
      --color-primary-550: hsl(212, 100%, 47%);
      --color-primary-600: hsl(243, 75%, 59%);
      --color-primary-700: hsl(245, 58%, 51%);
      --color-primary-750: hsl(245, 61%, 44%);
      --color-primary-800: hsl(244, 55%, 41%);
      --color-primary-900: hsl(242, 47%, 34%);
      --color-primary-1000: hsl(242, 49%, 25%);


      --primary-glow: linear-gradient(
        to bottom right,
        rgba(142, 81, 195, 0.397) 0%,
        rgba(153, 47, 202, 0.212) 29%, 
        rgba(195, 55, 99, 0.247) 48%, 
        rgba(36, 38, 112, 0.384) 74%, 
        rgba(39, 45, 93, 0.342) 100%
      );

    // Secondary
      --color-secondary-50: hsl(340, 69%, 97%);
      --color-secondary-100: hsl(341, 66%, 94%);
      --color-secondary-200: hsl(341, 67%, 83%);
      --color-secondary-300: hsl(341, 67%, 72%);
      --color-secondary-400: hsl(341, 67%, 61%);
      --color-secondary-500: hsl(341, 67%, 50%); // Default color
      --color-secondary-600: hsl(341, 67%, 39%);
      --color-secondary-700: hsl(341, 67%, 28%);
      --color-secondary-800: hsl(341, 67%, 17%);
      --color-secondary-900: hsl(341, 66%, 6%);


    // Background

      --color-background-start: hsl(180, 4%, 14%);
      --color-background-end: var(--color-dark-500);
      --color-background-highlight: hsl(180, 7%, 17%);
      --color-neutral-background-gradient: linear-gradient(
        to bottom,
        var(--color-background-start),
        var(--color-background-end)
      ) var(--color-background-start);

      --color-primary-gradient-start: var(--color-secondary-500);
      --color-primary-gradient: linear-gradient(to bottom right, var(--color-primary-gradient-start), hsl(270, 35%, 50%), hsl(229, 80%, 66%), hsl(256, 77%, 60%));
      --color-accent-background-gradient: linear-gradient(to bottom right, #f79533, #f37055, #ef4e7b, #ff00cc, #a166ab, #333399, #5073b8, #2657eb, #2657eb);

    
    // Neutral
      --color-neutral-50: hsl(0, 0%, 98%);
      --color-neutral-100: hsl(0, 0%, 96%);
      --color-neutral-200: hsl(0, 0%, 90%);
      --color-neutral-300: hsl(0, 0%, 83%);
      --color-neutral-400: hsl(0, 0%, 64%);
      --color-neutral-500: hsl(0, 0%, 45%); // Default color
      --color-neutral-600: hsl(0, 0%, 32%);
      --color-neutral-700: hsl(0, 0%, 25%);
      --color-neutral-800: hsl(0, 0%, 15%);
      --color-neutral-825: hsl(264, 19%, 12%);
      --color-neutral-850: hsl(0, 0%, 12%);
      --color-neutral-875: hsl(0, 0%, 10%);
      --color-neutral-900: hsl(0, 0%, 9%);


    // Accent

      --accent-glow: linear-gradient(to right,
      rgba(251, 245, 183, 0.514),
        rgba(191, 148, 63, 0.651), rgba(252, 246, 186, 0.925), 
        rgba(233, 191, 118, 0.671), rgba(179, 135, 40, 0.521)); 

      // Highlight
        --color-highlight-50: hsl(48, 100%, 96%);
        --color-highlight-100: hsl(48, 96%, 89%);
        --color-highlight-200: hsl(48, 97%, 77%);
        --color-highlight-300: hsl(46, 97%, 65%);
        --color-highlight-400: hsl(43, 96%, 56%);
        --color-highlight-500: hsl(38, 92%, 50%); // Default color
        --color-highlight-600: hsl(32, 95%, 44%);
        --color-highlight-700: hsl(26, 90%, 37%);
        --color-highlight-800: hsl(23, 83%, 31%);
        --color-highlight-900: hsl(22, 78%, 26%);

      // Warning
        --color-warning-50: hsl(33, 100%, 96%);
        --color-warning-100: hsl(34, 100%, 92%);
        --color-warning-200: hsl(32, 98%, 83%);
        --color-warning-300: hsl(31, 97%, 72%);
        --color-warning-400: hsl(27, 96%, 61%);
        --color-warning-500: hsl(25, 95%, 53%); // Default color
        --color-warning-600: hsl(21, 90%, 48%);
        --color-warning-700: hsl(17, 88%, 40%);
        --color-warning-800: hsl(15, 79%, 34%);
        --color-warning-900: hsl(15, 75%, 28%);

      // Error
        --color-error-50: hsl(0, 86%, 97%);
        --color-error-100: hsl(0, 93%, 94%);
        --color-error-200: hsl(0, 96%, 89%);
        --color-error-300: hsl(0, 94%, 82%);
        --color-error-400: hsl(0, 91%, 71%);
        --color-error-500: hsl(0, 84%, 60%); // Default color
        --color-error-600: hsl(0, 72%, 51%);
        --color-error-700: hsl(0, 74%, 42%);
        --color-error-800: hsl(0, 70%, 35%);
        --color-error-900: hsl(0, 63%, 31%);


      // Success
        --color-success-50: hsl(138, 76%, 97%);
        --color-success-100: hsl(141, 84%, 93%);
        --color-success-200: hsl(141, 79%, 85%);
        --color-success-300: hsl(142, 77%, 73%);
        --color-success-400: hsl(142, 69%, 58%);
        --color-success-500: hsl(142, 71%, 45%); // Default color
        --color-success-600: hsl(142, 76%, 36%);
        --color-success-700: hsl(142, 72%, 29%);
        --color-success-800: hsl(143, 64%, 24%);
        --color-success-900: hsl(144, 61%, 20%);

  // margin
    --margin-10: 3px;
    --margin-50: 0.25rem;
    --margin-100: 0.5rem;
    --margin-200: 0.75rem;
    --margin-300: 1rem;
    --margin-400: 1.5rem;
    --margin-500: 2rem;
    --margin-600: 2.5rem;
    --margin-700: 3rem;
    --margin-800: 4rem;
    --margin-900: 6rem;
    --margin-1000: 10rem;
    --margin-1100: 16rem;
    --margin-1200: 20rem;

  // padding
    --padding-10: 2px;
    --padding-50: 0.25rem;
    --padding-100: 0.5rem;
    --padding-200: 0.75rem;
    --padding-250: 0.875rem;
    --padding-300: 1rem;
    --padding-350: 1.25rem;
    --padding-400: 1.5rem;
    --padding-500: 2rem;
    --padding-600: 2.5rem;
    --padding-650: 2.75rem;
    --padding-700: 3rem;
    --padding-750: 3.5rem;
    --padding-800: 6rem;
    --padding-900: 10rem;
    --padding-1000: 14rem;

  // width
    --min-button-width: 2.5rem;

    --width-column: 60px;
    --width-gap: 40px;

    --width-100: var(--width-column);
    --width-150: calc(var(--width-column) + var(--width-gap));

    --width-200: calc(2 * var(--width-column) + var(--width-gap));
    --width-300: calc(3 * var(--width-column) + 2 * var(--width-gap));
    --width-400: calc(4 * var(--width-column) + 3 * var(--width-gap));
    --width-450: calc(4.5 * var(--width-column) + 3 * var(--width-gap));
    --width-500: calc(5 * var(--width-column) + 4 * var(--width-gap));
    --width-600: calc(6 * var(--width-column) + 5 * var(--width-gap));
    --width-700: calc(7 * var(--width-column) + 6 * var(--width-gap));
    --width-800: calc(8 * var(--width-column) + 7 * var(--width-gap));
    --width-900: calc(9 * var(--width-column) + 8 * var(--width-gap));
    --width-1000: calc(10 * var(--width-column) + 9 * var(--width-gap));
    --width-1100: calc(11 * var(--width-column) + 10 * var(--width-gap));
    --width-1200: calc(12 * var(--width-column) + 11 * var(--width-gap));

    --max-width: calc(1360px + 2 * var(--width-gap)); // must be lower than ultra wide and bigger than desctop screen
    
  // height
    --navigation-height: 5rem;
    --indicator-height: 1.5rem;
    
    --header-800: 24rem;

  // border radius
    --border-radius-300: 3px;
    --border-radius-400: 5px;
    --border-radius-450: 7px;
    --border-radius-500: 10px;
    --border-radius-550: 12px;
    --border-radius-600: 15px;
  
  // border width
    --border-width-400: 2px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-text-500);
  background-color: var(--color-background-start);
}

a {
  text-decoration: none;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

ul {
  list-style-type: none;
}

@media (max-width: $screen-mobile) {
  html {
    scroll-padding-top: 5rem;
  }
}