@import "../../screen.scss";

@mixin flare-effect-on-hover {
    overflow: hidden;
    position: relative;

    &:after {
        background: #fff;
        content: "";
        height: 200%;
        left: -30%;
        opacity: 0.2;
        position: absolute;
        top: -50%;
        transform: rotate(35deg);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }

    &:hover {
        &:after {
            left: 120%;
        }
    }

    @media (max-width: $screen-tablet) {
        &:after {
            left: -10rem;
        }

        &:hover {
            &:after {
                left: 150%;
            }
        }
    }
}

.card {
    padding: var(--padding-300);
    border-radius: var(--border-radius-500);
    transition: background 200ms, border 200ms;
    border: 1px solid var(--color-neutral-700);

    margin-top: var(--margin-500);

    display: block;
    cursor: pointer;

    @include flare-effect-on-hover;

    span {
        display: inline-block;
        transition: transform 200ms;
    }

    h3 {
        font-weight: var(--font-semibold);
        font-size: var(--font-size-700);
        line-height: var(--line-height-700);
        margin-bottom: var(--margin-200);
        color: var(--color-text-400);
        transition: transform 200ms;
    }

    p {
        color: var(--color-text-400);
        font-size: var(--font-size-600);
        line-height: var(--line-height-600);
        margin-bottom: var(--margin-200);
    }



    &:hover {

        h3 {
            transform: translateX(4px);
        }
    }

    &:active {
        box-shadow: inset 0px 0px 24px -12px rgba(255, 255, 255, .5);
    }
}


@media (max-width: $screen-mobile) {
    .card {
        p {
            font-size: var(--font-size-500);
            line-height: var(--line-height-500);
        }
    }
}