@import "../../../screen.scss";

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 470px;
  padding: var(--padding-200);
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: calc(100% - 2 * 3.5rem);
    width: calc(100% - 2 * 3rem);
    z-index: -1;

    background: var(--color-accent-background-gradient);
    border-radius: calc(2 * var(--border-radius-400));
    animation: animatedGradient 60s ease alternate infinite;
    background-size: 300% 300%;
    mix-blend-mode: screen;
    filter: blur(3rem);
    transition: transform 0.2s ease;
    opacity: 0.5;

    @media (max-width: $screen-mobile) {
      animation: none;
    }
  }

  &:focus-within:before {
    transform: scale(1.1);
  }

  @media (max-width: $screen-mobile) {
    width: 100%;
  }

  @media (max-width: $screen-small-mobile) {
    padding: var(--padding-100);
  }

  h4 {
    text-align: center;
    margin: var(--margin-200);
  }
}

.fragment {
  padding: var(--padding-400);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
