@import "../../../screen.scss";

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.problemWrapper {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: calc(-1 * var(--border-radius-400));
        left: calc(-1 * var(--border-radius-400));
        height: calc(100% + var(--border-radius-400) * 2);
        width: calc(100% + var(--border-radius-400) * 2);

        background: var(--color-accent-background-gradient);
        border-radius: calc(2 * var(--border-radius-400));
        z-index: -100;
        animation: animatedgradient 20s ease alternate infinite;
        background-size: 300% 300%;
    }

    z-index: -99;
}

.problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: var(--padding-900);

    background: var(--color-background-start);
    
    border-radius: var(--border-radius-450);
    
    height: 100%;
}

.content {
    max-width: var(--width-600);

    p {
        color: var(--color-text-400);
        font-size: var(--font-size-600);
        line-height: var(--line-height-600);
        margin-bottom: var(--margin-200);
    }
}

@media (prefers-reduced-motion) {
    .problem::after {
        animation: none;
    }
}


@media (max-width: $screen-mobile) {

    .problem {
        border-radius: 0;
        padding: 0 var(--padding-300);
        margin: 0 var(--margin-500);
        max-width: calc(100vw - var(--margin-500));
        min-height: calc(100vh - var(--margin-500) );

        &::after {
            border-radius: 0;

            top: calc(-1 * var(--margin-500) * var(--border-radius-400));
            left: calc(-1 * var(--margin-500) * var(--border-radius-400));
            height: 100vh;
            width: calc(100% + var(--margin-500) + var(--border-radius-400) * 2);
        }
    }

    .content {
        p {
            font-size: var(--font-size-500);
            line-height: var(--line-height-500);
        }
    }
    
}