@import "../../../screen.scss";

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    position: relative;
    width: 100%;

    max-width: var(--width-700);

    h2 {
        margin-bottom: var(--margin-200);
    }

    p {
        color: var(--color-text-400);
        font-size: var(--font-size-600);
        line-height: var(--line-height-600);

        margin-bottom: var(--margin-800);
        max-width: var(--width-600);
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: var(--margin-600) var(--margin-700);

        li {
            color: var(--color-text-450);
            font-size: var(--font-size-500);
            line-height: var(--line-height-400);
            margin-bottom: var(--margin-200);

            max-width: var(--width-400);

            h3 {
                color: var(--color-text-300);
                font-size: var(--font-size-600);
                line-height: var(--line-height-600);
                margin-bottom: var(--margin-100);
                font-weight: var(--font-bold);
            }
        }
    }
}

.image {
    margin-right: var(--margin-700);
    z-index: 1;

    &.right {
        margin-left: var(--margin-700);
        margin-right: 0;
    }

    img {
        height: 80vh;
        width: auto;

        max-width: var(--width-600);
        box-shadow: 0px 16px 31px -10px rgb(5, 6, 17);

    }
}

@media (max-width: $screen-desktop) {
    .features ul {
        gap: var(--margin-400) var(--margin-600);
    }

    .image img {
        height: auto;
        width: 30vw;

        max-height: 80vh;
    }
}

@media (max-width: $screen-laptop) {
    .wrapper {
        align-items: flex-start;
    }

    .image {
        margin-right: var(--margin-500);

        &.right {
            margin-left: var(--margin-500);
            margin-right: 0;
        }

        img {
            height: auto;
            width: 40vw;
        }
    }
}
@media (max-width: $screen-tablet) {
    .wrapper {
        flex-direction: column;
        align-items: center;

        &.right {
            flex-direction: column-reverse;
        }
    }

    .image {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: var(--margin-600);

        &.right {
            margin-right: 0;
            margin-left: 0;
        }

        img {
            height: 60vh;
            width: auto;
        }
    }


}
@media (max-width: $screen-small-mobile) {
    .features {
        ul {
            grid-template-columns: 1fr;

            li {
                max-width: none;
            }
        }
    }

    .image {
        img {
            height: auto;
            width: 100%;

            max-height: 80vh;
        }
    }
}