@import "../../../screen.scss";

.parallaxContainer {
  pointer-events: none;

  img {
    transition: 0.3s;
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
  }
}

.ethereumBox {
  z-index: -150;
}

.pyramidBox {
  z-index: -150;
}

.imageContainer {
  position: relative;
  height: 100%;

}

.bitcoinImageContainer {
  img {
    filter: drop-shadow(0 0 3px rgba(20, 179, 204, 0.425)) blur(0.5px);
    opacity: 0.9;
  }
}

.ethereumImageContainer {

  img {
    filter: drop-shadow(0 0 3px rgba(196, 16, 212, 0.425)) blur(0.5px);
    opacity: 0.9;
  }
}

.crystalPyramidImageContainer {
  img {
    filter: drop-shadow(0 0 3px rgba(212, 176, 16, 0.425)) blur(0.3px);
    opacity: 0.85;
  }
}

.graidentWrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(40px);
}

.gradient {
  position: absolute;

  width: 100%;
  height: 100%;

  z-index: -2;

  left: 0;
  top: 0;

  opacity: 1;
  mix-blend-mode: screen;

  border-radius: 100%;

  background: rgba(26, 223, 223, 0.849);

  filter: blur(40px);
}

.gradientBitcoin1 {
  @extend .gradient;

  width: 50%;
  height: 70%;

  top: 20%;
  left: 12.5%;

  background: rgba(26, 223, 223, 0.671);

}

.gradientBitcoin2 {
  @extend .gradient;

  width: 50%;
  height: 25%;

  top: 20%;
  left: 35%;

  background: rgba(221, 169, 25, 0.847);
}

.gradientBitcoin3 {
  @extend .gradient;

  width: 50%;
  height: 25%;

  top: 60%;
  left: 35%;

  background: rgba(170, 35, 204, 0.847);
}

.gradientEthereum1 {
  @extend .gradient;

  width: 70%;
  height: 70%;

  top: 45%;
  left: 12.5%;

  background: rgb(190, 42, 248);
}

.gradientEthereum2 {
  @extend .gradient;

  width: 120%;
  height: 30%;

  top: 0%;
  left: -10%;

  background: rgb(52, 7, 70);
}

.gradientPyramid1 {
  @extend .gradient;

  width: 80%;
  height: 60%;

  top: 10%;
  left: 20%;

  background: rgba(240, 200, 24, 0.808);
}

.gradientPyramid2 {
  @extend .gradient;

  width: 30%;
  height: 40%;

  top: 5%;
  left: 0%;

  background: rgb(245, 11, 11);
}

.gradientPyramid3 {
  @extend .gradient;

  width: 30%;
  height: 40%;

  top: 50%;
  left: 0%;

  background: rgb(205, 7, 255);
}

.gradientPyramid4 {
  @extend .gradient;

  width: 30%;
  height: 40%;

  top: 60%;
  left: 30%;

  background: rgb(7, 255, 255);
}

@media (max-width: $screen-mobile) {
  .bitcoinBox {
    z-index: -150;
  }
}