@import "../../screen.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}

.address {
  margin-left: var(--margin-100);

  @media (max-width: $screen-small-mobile) {
    display: none;
  }
}
