.header {
  position: relative;
  display: flex;
  justify-content: stretch;
  padding: var(--padding-50) !important;
  overflow: visible !important;
}

.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: calc(50%);
  background-color: var(--color-primary-500);
  z-index: 2;
  transition: transform 0.2s ease;

  &.moved {
    transform: translateX(100%);
  }
}

.button {
  flex: 1;
  min-width: auto !important;

  &:not(&Active) {
    color: var(--color-text-500);
  }
}
