.wrapper {
  box-shadow: 0 12px 20px 6px rgb(0 0 0 / 0.08);
  border-radius: var(--border-radius-550);
  overflow: auto hidden;

  table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    padding: var(--nextui-space-md) var(--nextui-space-sm);

    background-color: var(--color-dark-500);

    tr:hover {
      background-color: var(--color-dark-450);
    }
  }

  th {
    position: relative;
    cursor: default;

    height: var(--nextui-space-14);
    background: var(--nextui-colors-accents0);
    color: var(--nextui-colors-accents7);
    font-size: var(--nextui-fontSizes-xs);
    text-align: left;

    padding-right: var(--nextui-space-5);

    &.center {
      text-align: center;
    }

    &:first-child {
      padding-left: var(--nextui-space-8);
      border-top-left-radius: var(--nextui-radii-md);
      border-bottom-left-radius: var(--nextui-radii-md);
    }

    &:last-child {
      padding-right: var(--nextui-space-8);
      border-top-right-radius: var(--nextui-radii-md);
      border-bottom-right-radius: var(--nextui-radii-md);
    }
  }

  tbody {
    tr {
      cursor: pointer;
    }

    td {
      position: relative;
      user-select: none;
      padding-top: var(--nextui-space-5);
      padding-bottom: var(--nextui-space-5);
      padding-right: var(--nextui-space-5);
      z-index: var(--nextui-zIndices-2);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &.center {
        text-align: center;
      }

      &:first-child {
        border-radius: var(--nextui-radii-md) 0 0 var(--nextui-radii-md);
        padding-left: var(--nextui-space-8);
      }

      &:last-child {
        border-radius: 0 var(--nextui-radii-md) var(--nextui-radii-md) 0;
        padding-right: var(--nextui-space-8);
      }
    }
  }
}

.divider {
  display: block;
  width: 1px;
  height: 1px;
  margin-left: var(--margin-100);
  margin-top: var(--margin-50);
}

.cell {
  display: inline-flex;
  align-items: center;
}

.link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.moveBack {
  z-index: -1;
}
