.table {
  --nextui-colors-text: var(--color-text-300);
  
  tbody {
    // Row hover/selection color
    --nextui-colors-accents0: var(--color-dark-450);
  }
}

.cell {
  display: inline-flex;
  align-items: center;
}

.link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.moveBack {
  z-index: -1;
}
