
.gradientCard {
    padding: 2rem 0;
    background-color: var(--color-background-start);
    position: relative;
    overflow: hidden;

    animation: fade-in .2s cubic-bezier(.455,.03,.515,.955); 
    max-width: var(--width-800);
}

.contentWrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    padding-left: var(--padding-500);
    padding-right: var(--padding-500);
    min-height: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    z-index: 2;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gradientWrapper {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    filter: blur(40px);
    user-select: none;
    pointer-events: none;
    z-index: 0;
}

.gradient {
    position: absolute;
    border-radius: 100%;
    background: #7928ca;
    opacity: 1;
    mix-blend-mode: screen;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.1,0,.9,1);
    filter: blur(40px);
}

.gradient1 {
    width: 700px;
    height: 700px;
    z-index: -2;
    left: 60%;
    top: 40%;
    mix-blend-mode: lighten;
    animation-duration: 11s;
    animation-name: gradient-1;
    background: #7928ca;
}

.gradient2 {
    width: 600px;
    height: 600px;
    z-index: -1;
    left: 40%;
    top: 60%;
    animation-duration: 11s;
    animation-name: gradient-2;
    animation-direction: reverse;
    background-color: #0761d1;
}

.gradient3 {
    width: 500px;
    height: 500px;
    z-index: -3;
    left: 50%;
    top: 50%;
    animation-duration: 11s;
    animation-name: gradient-3;
    background-color: #0761d1;
}

@keyframes gradient-1 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%)
    }

    25% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg,-15deg) rotate(80deg) translateX(30%)
    }

    50% {
        transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%)
    }

    75% {
        transform: translateY(-50%) translateX(-50%) skew(15deg,15deg) rotate(240deg) translateX(15%)
    }

    to {
        transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%)
    }
}

@keyframes gradient-2 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%)
    }

    25% {
        transform: translateY(-50%) translateX(-50%) skew(15deg,15deg) rotate(110deg) translateX(-5%)
    }

    50% {
        transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%)
    }

    75% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg,-15deg) rotate(300deg) translateX(-10%)
    }

    to {
        transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%)
    }
}

@keyframes gradient-3 {
    0% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%)
    }

    20% {
        transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%)
    }

    40% {
        transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%)
    }

    60% {
        transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%)
    }

    80% {
        transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%)
    }

    to {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%)
    }
}