@import "../../../screen.scss";
@import "../../../components/styles/gradient-text.mixin.scss";
@import "../../../components/styles/appear.animation.scss";

@keyframes shine {
    0% {
        opacity: 0;
        left: 38rem;
    }

    25% {

        opacity: 0.3;
        left: 40rem;
    }

    50% {
        opacity: 0.7;
        left: 43rem;
    }

    75% {
        opacity: 0.3;
        left: 45rem;
    }

    100% {
        opacity: 0;
        left: 46rem;
    }
}


@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    min-height: 100vh;

    position: relative;

    h1 {
        font-size: var(--font-size-1200);
        font-weight: var(--font-black);
        line-height: var(--line-height-1200);
        letter-spacing: var(--letter-spacing-black-500);
        text-align: center;
        z-index: -1;
        
        @include gradient-text(var(--title-gradient));

        position: relative;
        animation: appearFrom09 0.5s ease-out;

        // Glow
        &::before,
        &::after {
            content: '';
            left: 50%;
            position: absolute;
            filter: blur(45px);
            transform: translateZ(0);
        }

        &::before {
            background: var(--primary-glow);
            border-radius: 50%;
            width: 60rem;
            height: 60rem;
            margin-left: -30rem;
            margin-top: -15rem;
            animation: appearFrom07 1s ease-out;
        }

        &::after {
            background: var(--accent-glow);
            width: 20rem;
            height: 15rem;
            z-index: -1;
            bottom: -2rem;
            animation: shine 10s ease-in-out infinite;
        }
    }

    & > p {
        font-size: var(--font-size-700);
        line-height: var(--line-height-500);
        text-align: center;
        margin-top: var(--margin-600);
        font-weight: var(--font-medium);
        color: var(--color-text-400);

        animation: appearFrom09 0.5s ease-out;
    }
}

.scrollIcon {
    position: absolute;
    bottom: 2rem;
    opacity: 0;

    animation: appearUp 0.2s ease-in forwards;
    animation-delay: 1.5s;
}

.hidden {
    animation: appearOnlyOpacity 0.5s ease-in forwards reverse;
    animation-delay: 0;
}

@media (prefers-reduced-motion) {
    .hero h1::after {
        animation: none;
    }
}

@keyframes shineDesktop {
    0% {

        opacity: 0;
        left: 29rem;
    }

    25% {

        opacity: 0.3;
        left: 30rem;
    }

    50% {
        opacity: 0.55;
        left: 31rem;
    }

    75% {
        opacity: 0.3;
        left: 32rem;
    }

    100% {

        opacity: 0;
        left: 36rem;
    }
}

@media (max-width: $screen-desktop) {
    .hero h1 {
        font-size: var(--font-size-1180);
        line-height: var(--line-height-1180);
        letter-spacing: var(--letter-spacing-black-400);

        &::after {
            bottom: -3rem;
            animation: shineDesktop 10s ease-in-out infinite;
        }
    }
}

@keyframes shineLaptop {
    0% {

        opacity: 0;
        left: 20rem;
    }

    25% {

        opacity: 0.5;
        left: 21rem;
    }

    50% {
        opacity: 0.8;
        left: 22.5rem;
    }

    75% {
        opacity: 0.5;
        left: 23rem;
    }

    100% {

        opacity: 0;
        left: 26rem;
    }
}

@media (max-width: $screen-laptop) {
    .hero {
        h1 {
            font-size: var(--font-size-1150);
            line-height: var(--line-height-1150);
            letter-spacing: var(--letter-spacing-black-300);

            &::after {
                width: 15rem;
                height: 10rem;
                bottom: -2rem;
                animation: shineLaptop 10s ease-in-out infinite;
            }
        }

        & > p {
            max-width: var(--width-500);
        }
    }
}

@keyframes shineTablet {
    0% {
        opacity: 0;
        left: 11rem;
    }

    25% {
        opacity: 0.5;
        left: 12rem;
    }

    50% {
        opacity: 0.9;
        left: 13rem;
    }

    75% {
        opacity: 0.5;
        left: 14rem;
    }

    100% {

        opacity: 0;
        left: 15rem;
    }
}

@media (max-width: $screen-tablet) {
    .hero {

        align-items: flex-start;

        h1 {
            text-align: left;
            font-size: var(--font-size-1180);
            line-height: var(--line-height-1180);
            letter-spacing: var(--letter-spacing-black-400);

            &::after {
                width: 15rem;
                height: 10rem;
                bottom: -1rem;
                animation: shineTablet 10s ease-in-out infinite;
            }
        }

        & > p {
            font-size: var(--font-size-600);
            line-height: var(--line-height-600);
            text-align: left;
            max-width: var(--width-400);
            margin-top: var(--margin-400);
        }
    }

    .scrollIcon {
        display: none;
    }
}

@keyframes shineMobile {
    0% {
        opacity: 0;
        left: 6rem;
    }

    25% {
        opacity: 0.5;
        left: 7rem;
    }

    50% {
        opacity: 0.7;
        left: 8rem;
    }

    75% {
        opacity: 0.5;
        left: 9rem;
    }

    100% {

        opacity: 0;
        left: 10rem;
    }
}


@media (max-width: $screen-mobile) {
    .hero {
        h1 {
            font-size: var(--font-size-1150);
            line-height: var(--line-height-1150);
            letter-spacing: var(--letter-spacing-black-300);

            &::after {
                width: 15rem;
                height: 10rem;
                bottom: -2.5rem;
                animation: shineMobile 10s ease-in-out infinite;
            }
        }

        & > p {
            font-size: var(--font-size-500);
            line-height: var(--line-height-500);
            margin-top: var(--margin-500);
        }
    }
}

@keyframes shineSmallMobile {
    0% {
        opacity: 0;
        left: 3.5rem;
    }

    25% {
        opacity: 0.5;
        left: 4rem;
    }

    50% {
        opacity: 0.9;
        left: 5rem;
    }

    75% {
        opacity: 0.5;
        left: 6rem;
    }

    100% {

        opacity: 0;
        left: 6.5rem;
    }
}


@media (max-width: $screen-small-mobile) {
    .hero {
        h1 {
            font-size: var(--font-size-1120);
            line-height: var(--line-height-1120);

            &::after {
                width: 10rem;
                height: 7rem;
                bottom: -1.5rem;

                animation: shineSmallMobile 10s ease-in-out infinite;
            }
        }

        & > p {
            font-size: var(--font-size-300);
            line-height: var(--line-height-400);
            margin-top: var(--margin-400);
            max-width: var(--width-300);

            span {
                display: inline;
            }
        }
    }
}
