@import "../../../screen.scss";

$pin-thickness: 2px;
$pin-head-size: 16px;

@keyframes gradientTransition {
  0% {
    background-image: linear-gradient(var(--color-text-200) 10%, transparent 90%);
  }
  20% {
    background-image: linear-gradient(var(--color-text-200) 50%, hsl(256, 77%, 60%) 75%, transparent 90%);
  }
  30% {
    background-image: linear-gradient(var(--color-text-200) 30%, hsl(256, 77%, 60%) 50%, transparent 90%);
  }
  50% {
    background-image: linear-gradient(var(--color-text-200) 10%, hsl(229, 80%, 66%) 30%, hsl(256, 77%, 60%) 50%, transparent 90%);
  }
  75% {
    background-image: linear-gradient(var(--color-text-200) 0%, hsl(270, 35%, 50%) 10%, hsl(229, 80%, 66%) 30%, hsl(256, 77%, 60%) 50%, transparent 90%);
  }
  100% {
    background-image: linear-gradient(hsl(341, 67%, 50%) 0%, hsl(270, 35%, 50%) 10%, hsl(229, 80%, 66%) 30%, hsl(256, 77%, 60%) 50%, transparent 90%);
  }
}

.pin {
  position: absolute;

  left: 0;
  bottom: 0;
  top: 4px;

  width: $pin-thickness;
  background-image: linear-gradient(var(--color-text-200) 10%, transparent 90%);

  &::before {
    position: absolute;
    content: "";
    box-sizing: border-box;
    border-radius: 50%;
    background-color: var(--color-text-200);
    width: $pin-head-size;
    height: $pin-head-size;
    left: -($pin-head-size / 2 - $pin-thickness / 2);
    border: 4px solid var(--color-background-start);
    transition: background-color 0.2s;
    transition-delay: 0.2s;
  }
}

.point {
  --point-color: var(--color-text-200);
  --point-size: 16px;

  color: var(--color-text-200);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: -calc(var(--point-size) / 2);
  left: -calc(var(--point-size) / 2);

  bottom: 0;
  left: 0;

  transform: translate(-50%, 50%);

  width: var(--point-size);
  height: var(--point-size);

  border-radius: 50%;

  background-color: var(--point-color);
  background: radial-gradient(var(--point-color) 40%, rgba(0, 0, 0, 0.1));

  @apply shadow-md;

  &::before,
  &::after {
    --orbit-scale: 0;

    content: "";

    position: absolute;
    top: calc(var(--point-size) / 2);
    left: calc(var(--point-size) / 2);

    width: calc(var(--point-size) * var(--orbit-scale));
    height: calc(var(--point-size) * var(--orbit-scale));

    transform: translate(-50%, -50%);

    border-radius: 50%;
    border: 1px solid var(--point-color);
  }

  &::before {
    --orbit-scale: 1.1;
    opacity: 0.25;
  }

  &::after {
    --orbit-scale: 1.25;
    opacity: 0.1;
  }

  &--done {
    --point-size: 24px;
    --point-color: hsl(341, 67%, 50%);

    &::before {
      opacity: 0.5;
    }

    &::after {
      opacity: 0.35;
    }
  }

  &--centered {
    left: auto;
    right: calc(50% - var(--point-size) / 2);
    bottom: calc(-1 * var(--point-size) / 2);
    transform: none;
  }
}

.container {
  position: relative;
  height: 100%;
  padding-left: var(--padding-300);
  padding-right: var(--padding-300);

  &[href]:hover {
    h3 {
      text-decoration-line: underline;
    }

    .pin {
      animation: gradientTransition 0.2s ease-in-out;
      background-image: linear-gradient(hsl(341, 67%, 50%) 0%, hsl(270, 35%, 50%) 10%, hsl(229, 80%, 66%) 30%, hsl(256, 77%, 60%) 50%, transparent 90%);
      &::before {
        background-color: hsl(341, 67%, 50%);
      }
    }
  }

  p, ul {
    margin-top: var(--margin-300);
  }

  li, p {
    font-size: var(--font-size-300);
    line-height: var(--line-height-300);
    color: var(--color-text-400);
  }

  ul {
    list-style: initial;
    padding-left: var(--padding-300);
  }

  @media (max-width: $screen-mobile) {
    padding-left: var(--padding-600);
    padding-right: var(--padding-600);
  }
}

.pointer {
  cursor: pointer;
}

.content {
  ul {
    
    list-style-type: disc;
    list-style-position: inside;
  }
}

.strip {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}