@import "../../screen.scss";

.header2 {
    font-size: var(--font-size-900);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-900);
    margin-bottom: var(--margin-400);
    color: var(--color-text-300);
}


@media (max-width: $screen-mobile) {
    .header2 {
        font-size: var(--font-size-800);
        line-height: var(--line-height-800);
    }
}



@media (max-width: $screen-small-mobile) {
    .header2 {
        font-size: var(--font-size-700);
        line-height: var(--line-height-700);
    }
}
