
.contacts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    position: relative;


    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        font-size: var(--font-size-800);
    }

    li {
        margin-top: 0;
        margin-bottom: var(--margin-400);

        color: var(--color-text-400);

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        span {
            margin-right: var(--margin-100);

            svg {
                width: var(--font-size-800);
                height: var(--font-size-800);
            }
        }

        &:hover {
            color: var(--color-text-200);
        }
    }
}