@import "../../../screen.scss";

.image {
  position: relative;

  &:before {
    --blur-size: 1rem;

    content: "";
    position: absolute;
    top: var(--blur-size);
    left: var(--blur-size);
    height: calc(100% - 2 * var(--blur-size));
    width: calc(100% - 2 * var(--blur-size));

    background: linear-gradient(to bottom,
      #2A2F62,
      #0d6496,
      #5F2A6C,
      #7a308d,
      #f792f7,
      #F47995,
      #832E8A,
      #3A2253,
      #B7416B,
      #200430);
    border-radius: calc(2 * var(--border-radius-400));
    z-index: -1;
    mix-blend-mode: screen;
    filter: blur(3rem);
  }
}