@import "../../../screen.scss";

.container {
  display: flex;
  flex-direction: column;
  
  position: relative;

  margin: var(--margin-800) 0;

  & > span,
  & > h2 {
    padding-left: var(--padding-500);
  }

  @media (max-width: $screen-tablet) {

    & > h2 {
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
    }
  }
}
